* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.grid-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 45px 1fr;
  grid-template-columns: 200px 1fr;
}

header {
  display: grid;
  background-color: aquamarine;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  /* stretch from first grid line to last grid line */
  grid-column: 1/-1;
}

aside {
  background-color: #213e48;
  grid-row: 2;
  grid-column: 1;
  width: 200px;
}

main {
  background-color: aqua;
  grid-row: 2;
  grid-column: 2;
}

nav ul {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: center;
  justify-items: center; */
  list-style-type: none;
  margin: 0;
}

nav ul li {
  background-color: black;
  width: 20%;
  text-align: center;
  line-height: 45px;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

nav ul li:hover {
  background-color: red;
}
