<div class="grid-wrapper">
 <header><nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
 </nav></header>
  <aside>Aside</aside>
  <main>Content</main>
</div>

